body {
    margin: 0;
}

.hero {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    padding: 24px 100px 80px 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.navbar .left .logo-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

li a, .hero-text p {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}

.hero-text {
    flex: 1;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-top: 0;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 10px 32px;
    border-radius: 8px;
    font-weight: bold;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.information {
    background-color: white;
    padding: 80px 100px;
}

.information h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 48px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.box-image {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 16px;
    margin-bottom: 16px;
}

.card p {
    text-align: center;
    font-size: 16px;
}

.quotes {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.quote-container {
    max-width: 800px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    margin-bottom: 0;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.cta {
    padding: 100px;
    display: flex;
    justify-content: center;
}

.cta-container {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.cta-text h3 {
    color: #f9faf8;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.cta-text p {
    color: #e5e7eb;
    font-size: 16px;
    margin: 8px 0 0 0;
}

.cta-button button {
    color: white;
    border: 2px solid white;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}